body{
    text-align: center;
    background-color: #FFD8CC;
    font-family: 'Charkra Petch', sans-serif;
    color: #4e4e4e;
}

h1{
    color: rgb(78, 78, 78);
    font-size: 30px;
    margin: 1% auto;
}

/*main game area*/

.game-main{
    margin: auto;
    background-color: #ffd0c4;
    display: inline-block;
}

.options-info{
    margin: 1% auto;
}

button{
    font-family: 'Charkra Petch', sans-serif;
    border-radius: 10%;
    background-color: #ecc1c1;
}

button:active{
    font-weight: bold;
}

.game-board table{
    margin: auto;
    background-color: #ecc1c1;
}

.game-board table, td{
    border-collapse: collapse;
}

.game-board table td{
    border: 7px outset #DEB8C1;
    height: 25px;
    width: 25px;
}

.game-board table td:hover{
    background-color: #c7a7a7;
}

span.player{
    font-size: x-large;
}

/* guide area*/

.guide{
    text-align: left;
    background-color: #ffd0c4;
    width: 340px;
    position: absolute;
    left: 10px;
    top: 42px;
}

.guide-btn{
    text-align: center;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
}

/*universal*/

.hidden{
    display: none;
}

.pressed {
    background-color: #e4d1d1;
}

.peeked {
    background-color: #d49d9d;
}