body{
    text-align: center;
    background-color: #FFD8CC;
    font-family: 'Charkra Petch', sans-serif;
}

h1{
    color: rgb(78, 78, 78);
    font-size: 30px;
    margin: 1% auto;
}

.game-main{
    margin: auto;
    background-color: #ffd0c4;
    display: inline-block;
}

.options-info{
    margin: 1% auto;
}

button{
    font-family: 'Charkra Petch', sans-serif;
    border-radius: 10%;
    background-color: #ecc1c1;
}

button:active{
    font-weight: bold;
}

.lives{
    position: absolute;
    margin-top: 0.5%;
}

.game-board table{
    margin: auto
}

.game-board table, td{
    border-collapse: collapse;
}

.game-board table td{
    border: 7px outset green;
    height: 25px;
    width: 25px;
    background-color: #ecc1c1;
}

.hidden{
    display: none;
}

span.player{
    font-size: x-large;
}

.guide{
    text-align: left;
    background-color: #ffd0c4;
    width: 340px;
    position: absolute;
    left: 10px;
    top: 42px;
}

.guide-btn{
    text-align: center;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
}