body{
    text-align: center;
    background-color: rgb(182, 182, 204);
}

.game-board table{
    margin: auto
}

.game-board table, td{
    border: 2px solid gray;
    border-collapse: collapse;
}

.game-board table td{
    height: 30px;
    width: 30px;
}

.hidden{
    display: none;
}